@import './variables.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: black;
}

@import-normalize;

::-webkit-scrollbar { /* 1 - скроллбар */ 
  width: 2px;
  margin-left: 10px;
}

::-webkit-scrollbar-button { /* 2 - кнопка */
  height: 0;
}

::-webkit-scrollbar-track { /* 3 - трек */
  background-color: none;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb { /* 5 - ползунок */
  border-radius: 100px;
  border-left: 0;
  border-right: 0;
  background-color: black;
}

html, body{
    min-width: 100%;
    height: 100%;
}

.active{
  background: $color_5;
  // border-color: $color_5;
}

@media (max-width: 720px) {
  body{
    overflow-y: hidden;
  }
}

